/****** top menu ******/

.top-menu {
  background-color: #4ECDC4;
}

/* toggle button (mobile) */

.top-menu .navbar-toggle {
  background-color: #FF6B6B;
}

.top-menu .navbar-toggle .icon-bar {
  background-color: #FFFFFF;
}

/* title */

.top-menu .navbar-brand {
  background-color: #C1F464;
  color: #FF6B6B;
  font-weight: bold;
}

/* menu text color */

.top-menu li>a {
  color: #FFFFFF;
}

/* mobile menu */

.top-menu li>a {
  color: #44B3AB;
}

.top-menu .navbar-collapse {
  background-color: #C1F464;
  font-size: 20;
}

.top-menu li>a:hover, .top-menu li>a:focus, .top-menu .dropdown-toggle:hover, .top-menu .dropdown-toggle:focus, .top-menu .open>a {
  background-color: #44B3AB!important;
  color: #FFFFFF;
}

/* desktop menu */

@media (min-width: 768px) {
  .top-menu .navbar-collapse {
    background-color: #4ECDC4;
  }

  .top-menu li>a {
    color: #FFFFFF;
  }

  .top-menu .dropdown-menu li>a {
    color: #44B3AB;
  }

  .top-menu .dropdown-menu li>a:hover {
    color: #FFFFFF;
  }
}

/* navbar fix */

.navbar {
  border: 0px;
  margin-bottom: 0px;
}

.navbar-right {
  margin-right: 15px;
}

/****** main contents ******/

.main-contents {
  height: calc(100% - 50px);
}

.main-contents>.row, .main-contents>.row>* {
  height: 100%;
}

/* timetable background */

#timetable {
  background-color: #FEFAEC;
  padding: 0px;
}

/* days header */

.days-row {
  height: 40px;
}

/* timetable scroll */

.timetable-scroll {
  height: calc(100% - 40px);
  overflow-y: scroll;
}

/* columns position */

.time-column {
  position: relative;
  float:left;
  width: 12.5%;
  height: 100%;
}

.day-columns {
  position: relative;
  width: 100%;
  height: 100%;
}

/* hide message box on mobiles */

@media (max-width: 767px) {
  #message-box {
    display: none;
  }
}